# dependencies
node_modules/
cdk.out/
dist/
build/
coverage/

# build outputs
dist/
cdk.out/
build/
coverage/
.out/
tmp/
*.tsbuildinfo

# env and creds
.env
.env.*
.aws/

# editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# personal temp files
outputs.md
scripts/demo.ts